body{
    background-color: rgb(213, 213, 213);
}

main{
    background-color: rgb(104, 158, 194);
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    padding: 10px;
}

.info{
    font-size: large;

}

.info a:hover{
   color: rgb(37, 183, 83);
}